.App-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
}
.operation-area {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 640px;
  z-index: 10;
  top: 109px;
  left: 362px;
}
.check-true {
  color: "#3f51b5";
}
.check-true:hover {
  background-color: "rgba(63,81,181,1)";
}

ul {
  position: absolute;
  text-align: center;
  width: 440px;
  height: 605px;
  top: 110px;
  left: 870px;
  overflow: auto;
  z-index: 10;
  padding: 0px;
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
}
.icon-buttons {
  display: flex;
  align-items: flex-end;
  opacity: 0.5;
}
.icon-buttons:hover {
  display: flex;
  align-items: flex-end;
  opacity: 0.8;
}

.task-content {
  width: 336px;
  white-space: pre-wrap;
  text-align: left;
}
